*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
}

header{
    width: 100%;
    height: 80px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;
    display: flex;    
    margin: 0;
    
    
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    
}

.bars{
    display: none;
}
.nav-bar ul {
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius:  15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: blue;
    background-color: cornflowerblue;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background: blueviolet;
    border-radius: 50px;
    width: 400px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
    border: 1px solid blueviolet;
}

.product-card img {
    width: 100%;
    height: 20em;
    border-radius: 50px;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 10px ;
}


.precio {
    font-size: 1em;
    color: #ffffff;
}

.botonsito{
    background-color: #ffffff;
    color: blueviolet;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #2a00fe;
}
   

footer {
    align-items: center;
    background-color:blueviolet;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
  
}

.footerContainer{
    background-color: blueviolet;
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width:900px) {

    header{
        padding: 0px 30px;

    }

    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 6px;
    }
    .nav-bar{
        
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgb(0, 0, 0);
        transition: 0.5s;
        overflow: hidden;

    }

    .nav-bar.active{
        height: 600px;
    }
   
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin:  80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
        
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
    

   
}

.nosotros{
   display: flex;
    justify-content: center;

}
